
    <title></title>
    <link rel="stylesheet" href="/css/skeleton.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet"  href="/css/greet.css">

{{!-- <div class="container"> --}}
      {{{body}}}
{{!-- </div> --}}

