<div class="row">
    <table>
        <thead>
            <th>Namesgreeted</th>
            {{!--
            <th>Message</th> --}}
        </thead>
        {{#each greeted}}
        <tr>
            <td> <a href="/greeted/{{username}}">{{username}}</a></td>
            {{/each}}
            <tr>
                {{message}}
            </tr>
            <div class="button1 ">
                <a href="/home"><button onclick="" class="Reseting button button-primary">BACK</button></a>
            </div>
    </table>
</div>