<div class="container">
  <h1>Greetings</h1>

  <form class="" action="greetings" method="post">
    <div class="row">
      <div class="four columns">
        <span>NAME:<input id="myTextarea" name="myTextarea" class="myTextarea"> </input></span>
      </div>
      <div class="four columns">
        <span>COUNTER:</span>
        <span class="count">{{count}}</span>
      </div>
    </div>
    <!-- <div class="count">0</div> -->

    <div class="radioz">
      <input type="radio" class="radios" name="radioz" value="English" class="radioz" />
      <label for="y">English</label>
      <input type="radio" class="radios" name="radioz" value="Afrikaans" class="radioz" />
      <label for="z">Afrikaans</label>
      <input type="radio" class="radios" name="radioz" value="IsiXhosa" class="radioz" />
      <label for="z">IsXhosa</label>
    </div>
    <section class="">
      <div class="row">
        <div class="button1">
          <div class="four columns">
            <button type="submit" name="submit" class="btnGreet button button-primary">Greet</button>
          </div>
          <div class="four columns">

            <a href="/greeted">
              <button class="Reseting button button-primary" type="button">Names</button>
            </a>
          </div>
        </div>
      </div>
  </form>
  </section>
  <div>
    <span>{{greet}}</span>
  </div>
  {{#if messages.error}}
  <div class=" errorMessage">
    <span href="/flash" name="flash">{{messages.error}}</span>
  </div>
  {{/if}}
</div>
</div>