<div class="container">
  <h1>Greetings</h1>

  <div class="row">
    <div class="count "><span>counter: {{count}}</span></div>


    <form class="" action="greetings" method="post">

      <div class="textareas" name="">
        <label>Name</label>
        <input id="myTextarea" name="myTextarea" class="myTextarea"> </input>

      </div>
      <!-- <div class="count">0</div> -->

      <div class="radioz">
        <input type="radio" class="radios" name="radioz" value="English" class="radioz" />
        <label for="y">English</label>
        <input type="radio" class="radios" name="radioz" value="Afrikaans" class="radioz" />
        <label for="z">Afrikaans</label>
        <input type="radio" class="radios" name="radioz" value="IsiXhosa" class="radioz" />
        <label for="z">IsXhosa</label>
      </div>

      <button type="submit" onclick="" class="btnGreet button button-primary">Greet</button>
    </form>



    <div class="button1">

      <a href="/greeted"><button onclick="" class="Shownames button button-primary">Names</button></a>
    </div>
    <div>
      <span>{{greet}}</span>
    </div>
    {{#if messages.error}}
    <div class=" errorMessage">
      <span href="/flash" name="flash">{{messages.error}}</span>
    </div>
    {{/if}}
  </div>
</div>