body {
  background-color: lightblue;
  align-items: center;
  height: 100%;
  width: 100%;
  /* margin-left: 450px;*/
  font-size: 200%;
}
label {
  display: inline-block;

  /* for IE7*/
  /* for IE7*/

  padding-top: 20px;
}

.btnGreet {
  background-color: lightgreen;
}

Reseting {
  width: 100px;
  height: 30px;
  background-color: green;
  color: aliceblue;
  margin: 10px;
  /*align-items: center;*/
}
.myTextarea {
  width: 200px;
  height: 40px;
}

/* .Shownames {
  background-color: lightgreen;
} */

.textareas {
  padding-top: 20px;
  width: 300px;
  height: 70px;
  /*padding-left: 500px;*/
}

.errorMessage {
  color: red;
  /* padding: 100px; */
}

@media (max-width: 400px) {
  .h1 {
    width: 100%;
    font-size: 16px;
  }
  .textareas {
    width: 100%;
    font-size: 16px;
  }
}
